/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {

  /* Esto puede solucionar problemas de desbordamiento en Flexbox y Grid. */
  /* min-width: 0; */
  margin: 0;
}


body {
  /* min-height: 100dvh; */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  /* height: auto; */
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}


/* Aplica overflow-wrap a párrafos y encabezados para evitar el desbordamiento de palabras largas o cadenas de texto ininterrumpidas */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}


/* Aplica text-wrap a los encabezados para equilibrar la cantidad de caracteres en cada línea */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Aplica text-wrap a los párrafos para mejorar la tipografía y evitar las palabras huérfanas */
p {
  text-wrap: pretty;
}

/* apilamiento */
#root,
#__next {
  isolation: isolate;
}

/*
 @media (width >=768px ){

}
 */